@import "tailwindcss";

@font-face {
  font-family: 'Alliance';
  src: url('./assets/fonts/AllianceNo1-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
